doctype
html(lang="en-US")
  head
    title= title
    // meta
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(name="description" content= description)
    // twitter
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@neculaesei")
    meta(name="twitter:title" content= title)
    meta(name="twitter:description" content= description)
    meta(name="twitter:creator" content="@neculaesei")
    // links
    link(rel='icon' type='image/png' href='/assets/images/logo.png')
    link(href="/assets/images/logo.png" rel="shortcut icon" type="image/x-icon")
    link(href="/assets/images/logo.png" rel="apple-touch-icon-precomposed")
    // styles
    link(rel='stylesheet' href='/css/main.css')
  body
    .header
      .container
        a(href='/')
          img.logo(src='/assets/images/logo.svg' alt="Andrei Neculaesei")
        button.burger
          img(src='/assets/images/icon-burger.svg' alt="Menu button")
        nav.menu
          a(class="#{ current.source == 'index' ? 'active' : '' }" href="/") About
          a(class="#{ current.source == 'articles' ? 'active' : '' }" href="/articles") Articles
          a(class="#{ current.source == 'projects' ? 'active' : '' }" href="/projects") Projects
          a(class="#{ current.source == 'contact' ? 'active' : '' }" href="/contact") Contact
    != yield
    .footer
      .footer-image
        img(src='/assets/images/footer-group.svg' alt="Footer image")
      .copyright
        | This is my personal website. The views expressed here are mine alone and not those of my employer(s).
        br
        br
        | Copyright &copy; Andrei Neculaesei 2018
    script(type="text/javascript" src="/js/core.js")
